{
  "extends": "eslint-config-airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "globals": {
    "document": true
  },
  "env":{
    "jest": true
  },
  "rules": {
    "func-names": "off",
    "no-param-reassign": "off",
    "arrow-body-style": "off",
    "max-len": "off",
    "new-cap": "off",
    "global-require": "off",
    "no-underscore-dangle": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "no-trailing-spaces": 0,
    "padded-blocks": 0,
    "no-plusplus": 0
  }
}
